<a href="https://colab.research.google.com/github/diazoniclabs/Machine-Learning-using-sklearn/blob/master/Naive_Bayes/Tennis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('play_tennis.csv')
df = df.drop(columns=['day'])
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [ ]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [ ]:
py = 9/14
pn = 5/14

In [ ]:
print(py,pn)

0.6428571428571429 0.35714285714285715

In [ ]:
py+pn

1.0

In [ ]:
df.groupby(['outlook','play']).size()

outlook   play
Overcast  Yes     4
Rain      No      2
          Yes     3
Sunny     No      3
          Yes     2
dtype: int64

In [ ]:
outlook = pd.crosstab(df['outlook'],df['play'])
outlook['py'] = outlook['Yes']/outlook['Yes'].sum()
outlook['pn'] = outlook['No']/outlook['No'].sum()
outlook

play      No  Yes        py   pn
outlook
Overcast   0    4  0.444444  0.0
Rain       2    3  0.333333  0.4
Sunny      3    2  0.222222  0.6

In [ ]:
outlook.loc['Sunny','py']

0.2222222222222222

In [ ]:
temp = pd.crosstab(df['temp'],df['play'])
temp['py'] = temp['Yes']/temp['Yes'].sum()
temp['pn'] = temp['No']/temp['No'].sum()
temp

play  No  Yes        py   pn
temp
Cool   1    3  0.333333  0.2
Hot    2    2  0.222222  0.4
Mild   2    4  0.444444  0.4

In [ ]:
humidity = pd.crosstab(df['humidity'],df['play'])
humidity['py'] = humidity['Yes']/humidity['Yes'].sum()
humidity['pn'] = humidity['No']/humidity['No'].sum()
humidity

play      No  Yes        py   pn
humidity
High       4    3  0.333333  0.8
Normal     1    6  0.666667  0.2

In [ ]:
wind = pd.crosstab(df['wind'],df['play'])
wind['py'] = wind['Yes']/wind['Yes'].sum()
wind['pn'] = wind['No']/wind['No'].sum()
wind

play    No  Yes        py   pn
wind
Strong   3    3  0.333333  0.6
Weak     2    6  0.666667  0.4

In [ ]:
# P(Yes | Sunny,Hot,High,Weak) = P(Y) * P(sunny y) * P(Hot Y) * P(High Y) * P(Weak Y)
#ip = ['Sunny','Cool','High','Strong']
ip = ['Rain','Cool','Normal','Weak']
x1 = 'py'
x2 ='pn'

pyes = py * outlook.loc[ip[0],x1] * temp.loc[ip[1],x1] * humidity.loc[ip[2],x1] *wind.loc[ip[3],x1]
pyes

0.031746031746031744

In [ ]:
pno = pn * outlook.loc[ip[0],x2] * temp.loc[ip[1],x2] * humidity.loc[ip[2],x2] *wind.loc[ip[3],x2]
pno

0.0022857142857142863

In [ ]:
# Normalized Probability

yon = (pyes)/(pyes+pno)
non = (pno)/(pyes+pno)
print(non,yon)
np.argmax([non,yon])

0.06716417910447763 0.9328358208955223

1

In [ ]:
# Using Scikit Learn Library

x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [ ]:
# COnverting the input into numerical values using encoding

from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
x_enc = enc.fit_transform(x)

In [ ]:
from sklearn.naive_bayes import CategoricalNB
clf = CategoricalNB(alpha=0)
clf.fit(x_enc, y)
pr = enc.transform([ip])
clf.predict_proba(pr)

/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:557: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  % _ALPHA_MIN

array([[0.06716418, 0.93283582]])

In [ ]:
clf.predict(pr)

array(['Yes'], dtype='<U3')

In [ ]:
# SVM